@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Manrope', Helvetica, sans-serif;
    font-weight: 800;
}

button{
    outline: 0;
    border: none;
    background: transparent;
}