:root{
    --primary-color: hsl(193, 38%, 86%);
    --secondary-color: hsl(150, 100%, 66%);
    --bg-color: hsl(218, 23%, 16%);
    --card-color: hsl(217, 19%, 24%);
    --hr-color: hsl(217, 19%, 38%)
}